// $size: 1em;
// $base-prefix: '';

.#{$prefix}-position {
  position: relative;
  width: 0.45em;
  height: 0.45em;
  border: 0.3em solid currentColor;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    top: 0.43em;
    left: -0.3em;
    width: 0;
    height: 0;
    border-top: 0.75em solid currentColor;
    border-right: 0.525em solid transparent;
    border-left: 0.525em solid transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}

.#{$prefix}-pc {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 0.7em;
  border-width: 0.1em 0.1em 0.15em;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0.1em;
  background-color: #efefef;
  &::before {
    content: "";
    position: absolute;
    top: 0.6em;
    right: 0;
    left: 0;
    margin: auto;
    width: 0.3em;
    height: 0.2em;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0.8em;
    right: 0;
    left: 0;
    margin: auto;
    width: 0.8em;
    height: 0.1em;
    background-color: currentColor;
  }
}

.#{$prefix}-phone {
  box-sizing: border-box;
  position: relative;
  width: 0.7em;
  height: 1em;
  background-color: #efefef;
  border-width: 0.15em 0.1em 0.25em;
  border-style: solid;
  border-color: currentColor;
  border-radius: 0.1em;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -0.2em;
    left: 0;
    margin: auto;
    width: 0.15em;
    height: 0.15em;
    background-color: #fff;
    border-radius: 50%;
  }
}

.#{$prefix}-search {
  width: 0.75em;
  height: 0.75em;
  border: 0.2em solid currentColor;
  border-radius: 50%;
  position: relative;
  //   border-top-right-radius: 50%;
  //   border-bottom-right-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    left: 0.6em;
    bottom: -0.3em;
    box-sizing: border-box;
    width: 0.75em;
    height: 0.2em;
    background-color: currentColor;
    transform: rotate(45deg);
  }
}

.#{$prefix}-star {
  box-sizing: border-box;
  position: relative;
  width: 0;
  height: 0;
  border-top: 0.6em solid currentColor;
  border-right: 0.8em solid transparent;
  border-left: 0.8em solid transparent;
  &::before {
    content: "";
    position: absolute;
    top: -0.6em;
    left: -0.8em;
    width: 0;
    height: 0;
    border-top: 0.6em solid currentColor;
    border-right: 0.8em solid transparent;
    border-left: 0.8em solid transparent;
    transform: rotate(70deg);
  }
  &::after {
    content: "";
    position: absolute;
    top: -0.6em;
    left: -0.8em;
    width: 0;
    height: 0;
    border-top: 0.6em solid currentColor;
    border-right: 0.8em solid transparent;
    border-left: 0.8em solid transparent;
    transform: rotate(-70deg);
  }
}

.#{$prefix}-email {
  box-sizing: border-box;
  position: relative;
  width: 0;
  height: 0;
  border-width: 0.35em 0.5em;
  border-style: solid;
  border-color: transparent transparent currentColor currentColor;

  &::before {
    content: "";
    position: absolute;
    top: -0.35em;
    left: 0.5em;
    transform: rotateY(180deg);
    transform-origin: left center;
    width: 0;
    height: 0;
    border-width: 0.35em 0.5em;
    border-style: solid;
    border-color: transparent transparent currentColor currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    top: -0.38em;
    left: 50%;
    margin-left: -0.45em;
    width: 0;
    height: 0;
    border-top: 0.3em solid currentColor;
    border-right: 0.45em solid transparent;
    border-left: 0.45em solid transparent;
  }
}

.#{$prefix}-sync {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-width: 0.2em;
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  &::before {
    -webkit-transform: translateX(50%) rotate(-45deg);
    -ms-transform: translateX(50%) rotate(-45deg);
    transform: translateX(50%) rotate(-45deg);
    left: 50%;
    top: 0;
  }
  &::after {
    -ms-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    right: 50%;
    bottom: 0;
  }
}

.#{$prefix}-camera {
  display: inline-block;
  border-style: solid;
  border-width: 0.65em 0.9em;
  border-radius: 0.1em;
  border-color: currentColor;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -0.3em;
    left: -0.3em;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    border: 0.1em solid $bg;
    box-shadow: 0 0 0 0.08em, 0 0 0 0.16em $bg;
  }
  &::after {
    position: absolute;
    content: "";
    top: -0.5em;
    left: 0.5em;
    width: 0.2em;
    border-top: 0.125em solid $bg;
  }
}

.#{$prefix}-heart {
  display: inline-block;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    width: 0.76em;
    height: 1.2em;
    background: currentColor;
    border-radius: 50% 50% 0 0;
    content: "";
    bottom: 0;
  }
  &::before {
    transform: rotate(48deg);
    transform-origin: 100% 100%;
    right: 0;
    background: currentColor;
  }
  &::after {
    transform: rotate(-48deg);
    transform-origin: 0 100%;
    left: 0;
  }
}
