@import '../library/triangle';

$arrow-prefix: 'arrow';

$arrow-num: 1.8em;


.#{$prefix}-#{$arrow-prefix}-up {
	@include triangle('up', $arrow-num*2, $arrow-num, currentColor);
}

.#{$prefix}-#{$arrow-prefix}-down {
	@include triangle('down', $arrow-num*2, $arrow-num, currentColor);
}

.#{$prefix}-#{$arrow-prefix}-left {
	@include triangle('left', $arrow-num, $arrow-num*2, currentColor);
}

.#{$prefix}-#{$arrow-prefix}-right {
	@include triangle('right', $arrow-num, $arrow-num*2, currentColor);
}

.#{$prefix}-#{$arrow-prefix}-x-up {
	@include triangle('up', $arrow-num*2, $arrow-num, currentColor);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: $arrow-num;
		margin-left: -$arrow-num / 2;
		width: $arrow-num;
		height: 1.3em;
		background-color: currentColor;
	}
}

.#{$prefix}-#{$arrow-prefix}-x-down {
	position: relative;
	width: $arrow-num;
	height: 1.3em;
	background-color: currentColor;

	&::after {
		position: absolute;
		content: "";
		left: 50%;
		top: 1.3em;
		margin-left: -$arrow-num;
		@include triangle('down', $arrow-num*2, $arrow-num, currentColor);
	}

}

.#{$prefix}-#{$arrow-prefix}-x-left {
	position: relative;
	@include triangle('left', $arrow-num, $arrow-num*2, currentColor);


	&::after {
		position: absolute;
		content: "";
		height: $arrow-num;
		width: 1.3em;
		background-color: currentColor;
		// top: 50%;
		left: $arrow-num;
		margin-top: -$arrow-num / 2;
	}

}

.#{$prefix}-#{$arrow-prefix}-x-right {
	position: relative;
	height: $arrow-num;
	width: 1.3em;
	background-color: currentColor;

	&::after {
		position: absolute;
		content: "";
		top: 50%;
		left: 1.3em;
		margin-top: -$arrow-num;
		@include triangle('right', $arrow-num, $arrow-num*2, currentColor);
	}

}