@charset "UTF-8";
.logo-dark, .logo-light {
  border-style: solid;
  border-color: #000;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-width: .43em .43em 0 0;
  transform: rotate(-45deg);
  position: relative; }
  .logo-dark::before, .logo-light::before {
    content: '';
    position: absolute;
    left: 1.6em;
    top: .43em;
    width: .43em;
    height: .73em;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: right top; }
  .logo-dark::after, .logo-light::after {
    content: '';
    position: absolute;
    left: .93em;
    top: .79em;
    width: .43em;
    height: .43em;
    border-radius: 50%;
    background-color: #e9491d; }

.logo-light {
  border-color: #fff; }
  .logo-light::before {
    background-color: #fff; }

/* Checks for a valid CSS color.
*  颜色合法性检查
*
* @argument {string} $color
*
* @return {boolean}
*
*/
.cp-arrow-up {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent currentColor;
  border-width: 0 0.9em 0.9em; }

.cp-arrow-down {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: currentColor transparent transparent;
  border-width: 0.9em 0.9em 0; }

.cp-arrow-left {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent currentColor transparent transparent;
  border-width: 0.9em 0.9em 0.9em 0; }

.cp-arrow-right {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent currentColor;
  border-width: 0.9em 0 0.9em 0.9em; }

.cp-arrow-x-up {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent currentColor;
  border-width: 0 0.9em 0.9em;
  position: relative; }
  .cp-arrow-x-up::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0.9em;
    margin-left: -0.45em;
    width: 0.9em;
    height: 0.65em;
    background-color: currentColor; }

.cp-arrow-x-down {
  position: relative;
  width: 0.9em;
  height: 0.65em;
  background-color: currentColor; }
  .cp-arrow-x-down::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0.65em;
    margin-left: -0.9em;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: currentColor transparent transparent;
    border-width: 0.9em 0.9em 0; }

.cp-arrow-x-left {
  position: relative;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent currentColor transparent transparent;
  border-width: 0.9em 0.9em 0.9em 0; }
  .cp-arrow-x-left::after {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.65em;
    background-color: currentColor;
    left: 0.9em;
    margin-top: -0.45em; }

.cp-arrow-x-right {
  position: relative;
  height: 0.9em;
  width: 0.65em;
  background-color: currentColor; }
  .cp-arrow-x-right::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0.65em;
    margin-top: -0.9em;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent currentColor;
    border-width: 0.9em 0 0.9em 0.9em; }

.cp-upload {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 0.4em;
  border-width: 0.15em;
  border-style: none solid solid;
  border-color: currentColor; }
  .cp-upload::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0.1em;
    left: 0;
    margin: auto;
    width: 0.15em;
    height: 0.5em;
    background-color: currentColor; }
  .cp-upload::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0.55em;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid currentColor;
    border-left: 0.3em solid transparent; }

.cp-download {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 0.4em;
  border-width: 0.15em;
  border-style: none solid solid;
  border-color: currentColor; }
  .cp-download::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0.35em;
    left: 0;
    margin: auto;
    width: 0.15em;
    height: 0.5em;
    background-color: currentColor; }
  .cp-download::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0.1em;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid currentColor;
    border-left: 0.3em solid transparent; }

.cp-player-play {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%; }
  .cp-player-play::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    width: 0;
    height: 0;
    margin-left: -0.15em;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.45em solid currentColor; }

.cp-player-pause {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%; }
  .cp-player-pause::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.175em;
    width: 0.1em;
    height: 0.45em;
    background-color: currentColor; }
  .cp-player-pause::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.075em;
    width: 0.1em;
    height: 0.45em;
    background-color: currentColor; }

.cp-player-previous {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%; }
  .cp-player-previous::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.325em;
    width: 0;
    height: 0;
    border-top: 0.225em solid transparent;
    border-bottom: 0.225em solid transparent;
    border-right: 0.3em solid currentColor; }
  .cp-player-previous::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.1em;
    width: 0;
    height: 0;
    border-top: 0.225em solid transparent;
    border-bottom: 0.225em solid transparent;
    border-right: 0.3em solid currentColor; }

.cp-player-next {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%; }
  .cp-player-next::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.2em;
    width: 0;
    height: 0;
    border-top: 0.225em solid transparent;
    border-bottom: 0.225em solid transparent;
    border-left: 0.3em solid currentColor; }
  .cp-player-next::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.025em;
    width: 0;
    height: 0;
    border-top: 0.225em solid transparent;
    border-bottom: 0.225em solid transparent;
    border-left: 0.3em solid currentColor; }

.cp-player-stop {
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%; }
  .cp-player-stop::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    left: 0;
    right: 0;
    width: 0.45em;
    height: 0.45em;
    background-color: currentColor; }

.cp-player-volume,
.cp-player-volumeLow,
.cp-player-volumeMedium,
.cp-player-volumeHigh,
.cp-player-volumeDecrease,
.cp-player-volumeIncrease,
.cp-player-volumeMute {
  width: 0;
  height: 0;
  border: 0.35em solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 0.3em 0.2em;
  -webkit-box-shadow: inset 0.2em 0;
  box-shadow: inset 0.2em 0;
  margin: 0.1em 0.375em;
  position: relative; }

.cp-player-volumeLow:before,
.cp-player-volumeMedium:before,
.cp-player-volumeHigh:before,
.cp-player-volumeHigh:after,
.cp-player-volumeDecrease:before,
.cp-player-volumeIncrease:before,
.cp-player-volumeMute:before,
.cp-player-volumeDecrease:after,
.cp-player-volumeIncrease:after,
.cp-player-volumeMute:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.cp-player-volumeLow,
.cp-player-volumeMedium,
.cp-player-volumeHigh {
  margin: 0.1em 0.5em 0.1em 0.25em; }

.cp-player-volumeLow::before,
.cp-player-volumeMedium::before,
.cp-player-volumeHigh::before,
.cp-player-volumeHigh::after {
  content: "";
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  border: 0.1em solid;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: 0.1em;
  top: 50%; }

.cp-player-volumeMedium,
.cp-player-volumeHigh {
  margin: 0.1em 0.6em 0.1em 0.15em; }

.cp-player-volumeMedium::before,
.cp-player-volumeHigh::before {
  content: "";
  border-style: double;
  border-width: 0.3em;
  left: -0.1em; }

.cp-player-volumeHigh {
  margin: 0.1em 0.7em 0.1em 0.05em; }

.cp-player-volumeHigh::after {
  content: "";
  width: 1.6em;
  height: 1.6em;
  left: -0.35em; }

.cp-player-volumeDecrease,
.cp-player-volumeIncrease,
.cp-player-volumeMute {
  margin: 0.1em 0.7em 0.1em 0.05em; }

.cp-player-volumeDecrease::before,
.cp-player-volumeIncrease::before,
.cp-player-volumeMute::before,
.cp-player-volumeDecrease::after,
.cp-player-volumeIncrease::after,
.cp-player-volumeMute::after {
  -webkit-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em; }

.cp-player-volumeDecrease::before,
.cp-player-volumeIncrease::before,
.cp-player-volumeMute::before {
  width: 0.5em;
  height: 0.1em;
  left: 0.85em; }

.cp-player-volumeIncrease::after,
.cp-player-volumeMute::after {
  height: 0.5em;
  width: 0.1em;
  left: 1.05em; }

.cp-player-volumeMute::after,
.cp-player-volumeMute::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg); }

.cp-loading-ring-ease,
.cp-loading-ring-ease:before,
.cp-loading-ring-ease:after {
  border-radius: 50%; }

.cp-loading-ring-ease:before,
.cp-loading-ring-ease:after {
  position: absolute;
  content: ''; }

.cp-loading-ring-ease:before {
  width: 1.1em;
  height: 2.2em;
  background: #fff;
  border-radius: 2.2em 0 0 2.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 1.1em 1.1em;
  transform-origin: 1.1em 1.1em;
  -webkit-animation: ring-ease 2s infinite ease 1.5s;
  animation: ring-ease 2s infinite ease 1.5s; }

.cp-loading-ring-ease {
  color: currentColor;
  position: relative;
  width: 2em;
  height: 2em;
  box-shadow: inset 0 0 0 0.2em; }

.cp-loading-ring-ease:after {
  width: 1.1em;
  height: 2.2em;
  background: #fff;
  border-radius: 0 2.2em 2.2em 0;
  top: -0.1em;
  left: 1.1em;
  -webkit-transform-origin: 0px 1.1em;
  transform-origin: 0px 1.1em;
  -webkit-animation: ring-ease 2s infinite ease;
  animation: ring-ease 2s infinite ease; }

@-webkit-keyframes ring-ease {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes ring-ease {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.cp-loading-ring {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: currentColor;
  background: -moz-linear-gradient(left, currentColor 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, currentColor 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, currentColor 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, currentColor 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, currentColor 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: ring-linear 1.4s infinite linear;
  animation: ring-linear 1.4s infinite linear; }

.cp-loading-ring:before {
  width: 50%;
  height: 50%;
  background: currentColor;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.cp-loading-ring:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes ring-linear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes ring-linear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.css-palace {
  color: #888;
  font-size: 24px;
  font-style: normal;
  display: block; }
