// defatul prefix
$prefix: 'cp' !default;

@import "vars/buttons";
@import "vars/inputs";

@import "library/ellipsis";

@import "icon/arrow";

.css-palace{
    color: #888;
    font-size: 12px;
    font-style: normal;
    display: block;
}