// defatul prefix
$prefix: 'cp' !default;

@import "vars/buttons";
@import "vars/inputs";

@import "library/ellipsis";

@import "icon/logo";
@import "icon/arrow";
@import "icon/load";
@import "icon/player";



.css-palace{
    color: #888;
    font-size: 24px;
    font-style: normal;
    display: block;
}